* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font: 16px/1.45 "Lucida Grande", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type="checkbox"] {
  position: relative;
  top: -2px;
}

a {
  color: #408aec;
}

.list-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}

.text-center {
  text-align: center;
}

.spacer-1 {
  display: inline-block;
  margin: 0 3px;
}
