button,
textarea,
input {
  font: inherit;
  color: inherit;
  margin: 0;
}

textarea {
  resize: vertical;
}

.form-control {
  width: 100%;
  border: 1px solid $color-border;
  font-size: 14px;
  border-radius: 3px;

  &.s-1 {
    padding: 3px 6px;
  }

  &.s-2 {
    height: 42px;
    padding: 0 15px;
  }

  &[disabled] {
    background: $color-disabled;
    cursor: not-allowed;
  }
}

%btn {
  display: inline-block;
  vertical-align: middle;
  padding: 5px 15px;
  border: 1px solid transparent;
  font-size: 14px;
  text-align: center;
  touch-action: manipulation;
  cursor: pointer;
  transition: 0.05s ease;
  user-select: none;
  border-radius: 3px;

  &.wide {
    width: 100%;
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.65;
  }
}

.btn-primary {
  @extend %btn;
  background: #fff;
  border-color: $color-primary;
  color: $color-primary;

  &:hover:enabled,
  &:active:enabled {
    color: #fff;
    background: $color-primary;
    border-color: $color-primary;
  }
}
