@import "variables";
@import "base";
@import "forms";
@import "loader";


.wrapper {
  width: 800px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 20px;
}

.section {
  margin: 40px 0;
}

.settings {

  &-item {
    margin: 12px 0;
  }

  &.is-disabled {
    opacity: 0.6;
    pointer-events: none;
  }
}
